[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = 현상민
	email = icemen919@gmail.com
	name = Hyeon
[init]
	defaultBranch = main
